SERVICE_NAME=jellyfin
DOCKER_CONTAINER=jellyfin
MQTT_HOST=ha.lan
MQTT_PORT=1883
MQTT_USERNAME=docker-monitor
MQTT_PASSWORD_FILE=/etc/docker-health-publisher/password
MQTT_TOPIC=home/infrastructure/docker/jellyfin/status
