MQTT_HOST=ha.lan
MQTT_PORT=1883
MQTT_USERNAME=wireguard-monitor
MQTT_PASSWORD_FILE=/etc/wireguard-health-publisher.password
MQTT_TOPIC=home/infrastructure/wireguard/status
WIREGUARD_CONTAINER=wireguard
